@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

._skill-container {
  z-index: 8;
}
.icon {
  color: var(--primary-color);
}

.title {
  color: var(--smooth-color);
  font-size: var(--large-font-size);
}

.relative {
  position: relative;
}

.flex {
  display: flex;
  flex-direction: row;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.item-center {
  align-items: center;
  justify-content: center;
}
.stack {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 30px;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  width: 200px;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-4xl {
  font-size: 2.25rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.top-0 {
  top: 0;
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
.animate-marquee:hover {
  animation-play-state: paused;
}

@media (max-width: 768px) {
  .margin-t {
    margin-top: 30px;
  }
  .marquee-container {
    padding: 1rem 0;
    width: 20px;
  }

  .marquee-item {
    font-size: 1.5rem;
    margin: 0 0.5rem;
  }
}
