/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Jost:wght@400;500;700&display=swap");

/* CSS VARIABLES */

:root {
  /* color */
  --primary-color: hsl(165, 60%, 40%);
  --secondary-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 92%);
  --title-color: rgb(3, 19, 35);
  --bg-color: hsl(216, 18%, 16%);
  --bg-color-alt: hsl(213, 10%, 21%);
  --container-color: hsl(217, 18%, 14%);
  --border-color: hsl(210, 2%, 65%);
  --first-gradient: linear-gradient(
    0deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );

  --second-gradient: linear-gradient(
    180deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );

  --third-gradient: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg-color) 100%
  );

  /* typography */
  --body-font: "Jost", sans-serif;
  --second-font: "Caveat", cursive;
  --biggest-font-size: 60px;
  --h1-font-size: 44px;
  --h2-font-size: 32px;
  --h3-font-size: 28px;
  --h4-font-size: 24px;
  --h5-font-size: 22px;
  --larger-font-size: 20px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 13px;

  /* shadow*/

  --shadow: 5px 5px rgb(255 255 255 10%);

  /* transition*/

  --transition: cubic-bezier(0.3, 0, 0.3, 1);
}

/* RESET  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  color: var(--secondary-color);
  background-color: var(--bg-color);
}
body.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3 {
  /* color:var(--title-color); */
  font-weight: 700;
}

ul {
  list-style: none;
}
p {
  line-height: 1.7;
}
a {
  text-decoration: none;
}

input,
textarea,
button {
  border: none;
  outline: none;
  background: transparent;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
}

/* Reusable CSS */
.container {
  max-width: 1000px;
  padding-inline: 12px;
  margin-inline: auto;
}

.grid {
  display: grid;
  gap: 24px;
}

.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn,
.hero__link {
  color: var(--second-color);
  font-weight: 700;
  font-size: var(--tiny-font-size);
  height: 50px;
  display: grid;
  place-items: center;
  position: relative;
}

.btn {
  border: 2px solid var(--secondary-color);
  padding-inline: 40px;
  border-radius: 55px;
  box-shadow: var(--shadow);
}
.btn::before {
  content: "";
  position: absolute;
  inset: 2px;
  background-color: var(--primary-color);
  border-radius: inherit;
  transform: scale(0.3);
  filter: blur(10px);
  opacity: 0;
  transition: all 0.5s var(--transition);
  z-index: -1;
}

.btn:hover::before {
  transform: scale(1);
  filter: blur(0);
  opacity: 1;
}

.section {
  padding-bottom: 220px;
  /* background-color: rgb(247, 237, 224); */
  margin-top: 50px;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
}

.section__subtitle {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
  text-transform: uppercase;
  font-weight: 700;
}
.section__subtitle span {
  font-family: var(--second-font);
  color: var(--title-color);
  font-size: var(--h5-font-size);
}

.card {
  background-color: var(--container-color);
  overflow: hidden;
  position: relative;
}
.card-two {
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .grid {
    display:block;
  }
  .section {
   margin-top:40%;
  }
  
}
